		body{

			background-color: gray;
			padding:0px;
			margin: 0px;
			width: 100%;
		}

		#body {

			min-height: 100%;
			max-height: 100%;
		}

		#TopBar{

			height: 50px;
			background-color: rgb(63,88,252);
			-moz-box-shadow: 0 3px 14px 0 #000;
			-webkit-box-shadow: 0 3px 14px 0 #000;
			box-shadow: 0 3px 14px 0 #000;

		}
		
		#f10,#f11,#f12,#f13,#f14,#f15,#f16,#f17,#f18,#f19,
		#f20,#f20_1,#f20_2,#f20_3,#f20_4,#f21,#f21_1,#f23,
		#f21_3,#f21_5,#f21_6,#f21_8,#f21_9,#f27,#f27_2,#sponsored_accounts,#sponsored_accounts_1,#sponsored_accounts_3,#sponsored_accounts_5,#sponsored_accounts_6,#sponsored_accounts_8,#sponsored_accounts_10,#sponsored_accounts_11,#sponsored_accounts_13,#sponsored_accounts_15,#sponsored_accounts_16,#sponsored_accounts_18,
			#cost_sharing,#cost_sharing_1,#cost_sharing_3,#cost_sharing_5,#cost_sharing_6,#cost_sharing_8,#cost_sharing_10,#cost_sharing_11,#cost_sharing_13,#cost_sharing_15,#cost_sharing_16,#cost_sharing_18,
			#university_funds,#university_funds_1,#university_funds_3,#university_funds_5,#university_funds_6,#university_funds_8,#university_funds_10,#university_funds_11,#university_funds_13,#university_funds_15,#university_funds_16,#university_funds_18,#university_funds_20,#university_funds_21,#university_funds_23,#total_compensation,#payments_paid,#payments_paid_1,#payments_paid_3,#payments_paid_4{
			float:left;
			margin-right: 5px;
		}		


		label{

			width: 0px;
			margin-left: 5px;
			font-weight: bold;
			
		}

		form input{
			margin: 10px;
			margin-left: 0px;
		}

		#tabla th{

		    text-align: left;
		    width: 31px;
		    padding-top: 5px;
		    padding-bottom: 5px;
		}

		#tabla label{

    		font-size: 32;
    		opacity:.7;
		}

		#tabla td{

		    width: 75%;
		    height: 35px;
		    padding-top: 5px;
		    padding-bottom: 5px;
		}

		#tabla input{

			width: 95%;
			height: 35px;
			font-size: 20;
		}

		#banner{

			letter-spacing: -6px;
			text-transform: lowercase;
			font-size: 100px;
			text-align: center;
			padding-bottom: 0px;
			margin-bottom: 8px;
			margin-top: 20px;
			font-family: 'Oxygen', sans-serif;
			font-weight: 300;
		}

		#slogan{

			margin-top: -20px;
			padding: 0px 0px 0px 5px;
			font-size: 20px;
			font-weight: 300;
			color: rgb(40, 19, 87);
			text-align: center;
			margin-bottom: 45px;
		}

		#submit{

			float: right;
			margin-right: 15px;
			margin-top: 30px;
			width: 100px;
		}

		#register{

			float: right;
			margin-top: 30px;
			width: 100px;
		}

		#login_wrapp{

			display: -webkit-box; 
			display: -moz-box; display: box;
 
			-webkit-box-orient: vertical;
			-moz-box-orient: vertical;
			-ms-box-orient: vertical;
			box-orient: vertical;
			-webkit-box-align: center;
			-moz-box-align: center;
			-ms-box-align: center;
			box-align: center;

			width: 100%;
		}

		#login_sub_wrapp{

			width: 800px; 
			height: 300px; 
			margin-left: auto;
			margin-right: auto;
			background-color: white; 
			border-radius: 20px;
		    -moz-box-shadow: 0 12px 14px 1px #000; 
		    -webkit-box-shadow: 0 12px 14px 1px #000; 
		    box-shadow: 0 12px 14px 1px #000;

		    display: -webkit-box; 
		    display: -moz-box; display: box;
 
			-webkit-box-orient: vertical;
			-moz-box-orient: vertical;
			-ms-box-orient: vertical;
			box-orient: vertical;
			-webkit-box-align: center;
			-moz-box-align: center;
			-ms-box-align: center;
			box-align: center;
		}

		#main_wrapper{

			width: 90%;
			height: 162px;
			margin-right: auto;
			margin-left: auto;
			padding-left: 15px;
		}

		#nav{
			width: 100%;
			height: 50px;
			z-index: 500;
			padding:0px;
		}

		#nav li {
		    margin:5px;
		    margin-bottom: 0px;
		    float:left;
		    position:relative;
		    list-style:none;
		}

		#nav a{

			text-decoration:none;

		    display:block;

		    padding:0px 10px;
		    font-size: 20px;
		    color: white;
		    opacity: .8;
		}

		#nav li a:hover{

			opacity: 1;

		}

		#nav li:hover > ul {
		    opacity:1;
		    visibility:visible;
		}
		#nav ul {
		    opacity:0;
		    visibility:hidden;
		    padding:0;
		    width:175px;
		    position:absolute;
		    margin: 0px;
		    padding: 0px;
		    padding-top: 15px;
		}

		#nav ul li {
		    float:none;
		    margin:0;
		}

		#new_t02{

			background-color: rgb(63,88,252);
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			border-left: 2px solid white;
			border-right: 2px solid white;
			border-top: 2px solid white;
		}

		#new_A125{

			background-color: rgb(63,88,252);
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			border-left: 2px solid white;
			border-right: 2px solid white;
			border-bottom: 2px solid white;
		}

		#box{

			padding: 2em 0;
			background: #FF4E00;
			border-top: 5px solid #FF6C2B;
			color: #FFF;
			width: 365px;
			float: left;
			margin:5px;

			-moz-box-shadow: 0 3px 14px 0 #000;
			-webkit-box-shadow: 0 3px 14px 0 #000;
			box-shadow: 0 3px 14px 0 #000;
		}

		#box:hover{

			
			border-top: 5px solid #FF4105;
		}

		#box1{

			padding: 2em 0;
			background: #22B6ED;
			border-top: 5px solid #5BCBF4;
			color: #FFF;
			width: 365px;
			float: left;
			margin:5px;

			-moz-box-shadow: 0 3px 14px 0 #000;
			-webkit-box-shadow: 0 3px 14px 0 #000;
			box-shadow: 0 3px 14px 0 #000;
		}

		#box1:hover{

			
			border-top: 5px solid #4D4DFF;
		}

		#box2{

			padding: 2em 0;
			background: #4c933e;
			border-top: 5px solid #7ab070;
			color: #FFF;
			width: 365px;
			float: left;
			margin:5px;

			-moz-box-shadow: 0 3px 14px 0 #000;
			-webkit-box-shadow: 0 3px 14px 0 #000;
			box-shadow: 0 3px 14px 0 #000;
		}

		#box2:hover{

			
			border-top: 5px solid #6FFF00;
		}

		.content{
			padding: 1em 2em 0em 2em;
		}

		.content h2{
			padding: 0 0 .5em 0;
			letter-spacing: -.05em;
			font-size: 2em;
			font-weight: 200;
			color: #FFF;
			line-height: 1.2em;
		}

		section {
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
			display: block;
			margin-bottom: 2em;
		}

		h2{

			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
		}

		p{

			display: block;
			-webkit-margin-before: 1em;
			-webkit-margin-after: 1em;
			-webkit-margin-start: 0px;
			-webkit-margin-end: 0px;
		}

		table td{
			vertical-align: top;
		}

		.boton{

			display: inline-block;
			margin-top: 1em;
			padding: .4em 1em;
			background: #A0A0A0;s
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 1em;
			color: #FFF;
			text-decoration: none;
		}

		.pboton{
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
			margin-bottom: 1em;
			line-height: 1.7em;
		}

		#main_info{

			width: 90%;
			margin-right: auto;
			margin-left: auto;
		}

		#marron_thor{

			background-color: white;
			-moz-box-shadow: 0 3px 14px 0 #000;
			-webkit-box-shadow: 0 3px 14px 0 #000;
			box-shadow: 0 3px 14px 0 #000;
			
		}

		#history{

			margin-left: auto; 
			margin-right: auto; 
			margin-bottom: 30px;
			width: 92%; 
			background-color: white; 
			border-radius: 5px 5px 5px 5px; 


			background-color: white;
			-moz-box-shadow: 0 3px 14px 0 #000;
			-webkit-box-shadow: 0 3px 14px 0 #000;
			box-shadow: 0 3px 14px 0 #000;
		}

		#history h2{

			padding: 0 0 .5em 0;
			letter-spacing: -.05em;
			font-size: 25px;
			font-weight: 200;
			color: black;
			line-height: 1.2em;
		}